@model CarDealershipManagement.WebUI.ViewModels.RegisterViewModel
<h2 class="pt-3">Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <div class="form-group">
            <label asp-for="Surname">Фамилия</label><br />
            <input asp-for="Surname" class="form-control w-25" />
            <span></span>
        </div>
        <div class="form-group">
            <label asp-for="Name">Имя</label><br />
            <input asp-for="Name" class="form-control w-25" />
            <span></span>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName">Отчество</label><br />
            <input asp-for="MiddleName" class="form-control w-25" />
            <span></span>
        </div>
        <div class="form-group">
            <label asp-for="PassportData">Паспортные данные</label><br />
            <input asp-for="PassportData" class="form-control w-25" />
            <span></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Адрес</label><br />
            <input asp-for="Address" class="form-control w-25" />
            <span></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName">Логин</label><br />
            <input asp-for="UserName" class="form-control w-25" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control w-25" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" class="form-control w-25"/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div class="form-group pt-3">
            <input type="submit" value="Регистрация" class="btn btn-primary"/>
        </div>
    </fieldset>
</form>
